@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

.nav-branding {
  font-size: 2rem;
  display: none;
}

.nav-item a:hover {
  color: black;
  transform: scale(1.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.background {
  background-image: url("img/gradient-white-monochrome-background.webp");
  height: 600px;
}

.intro {
  margin-top: 60px;
  margin-left: 20px;
}

.hellotxt {
  color: red;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 20px;
}

.hellotxt2 {
  color: red;
  text-align: center;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 20px;
}

.creativetxt {
  color: red;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  margin-top: 20px;
}

.creativetxt2 {
  color: red;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  margin-top: 20px;
}

.joyfultxt {
  border: 2px solid white;
  margin-top: 40px;
  padding: 20px;
}

.yeartxt {
  color: darkslategray;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  margin-top: 20px;
}

.main {
  background-color: black;
  position: relative;
  background-image: url(icons/cross.svg);
  background-size: 20px;
}

.main-program {
  font-weight: 500;
  z-index: 3;
}

.more {
  color: black;
  border: 2px solid grey;
  background-color: #fff;
  border-radius: 3px;
  width: 0;
}

.arrow {
  width: 12px;
}

.baseline {
  background-color: rgb(238, 71, 71);
  width: 50px;
  height: 1px;
  margin: 1px auto;
  z-index: 3;
}

.block {
  background-color: #63687748;
}

.icon {
  width: 28px;
}

.program {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(238, 71, 71);
}

.program-description {
  font-weight: 500;
  font-size: 0.6rem;
  width: 50%;
  margin: 0 auto;
}

.people::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(icons/light-chees-background.svg);
  background-repeat: no-repeat;
  background-size: 100px;
}

.speakers-name {
  font-weight: 600;
  font-size: 1.3rem;
}

.people-description {
  color: orange;
  font-size: 0.9rem;
  font-weight: 600;
}

.expand-description {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}

.join {
  background-color: rgb(238, 71, 71);
  outline: none;
  border: none;
  color: white;
  align-items: center;
}

.join:active {
  background-color: red;
}

.desktop-buttone {
  display: none;
}

.featuredtxt {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
}

.image1 {
  background-image: url("img/LC-for-Pathways-768x469.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0.7;
}

.image2 {
  background-image: url("img/summit202020.jpg");
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0.7;
  z-index: -1;
}

.companies img {
  width: 100px;
}

.cardsumittxt {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
}

.logoimg {
  position: absolute;
  margin-left: -16px;
  margin-top: 14px;
}

.logo-text {
  font-weight: 600;
}

.gradPhoto,
.gradPhotoes {
  height: 240px;
  padding: 20px;
  padding-top: 95px;
  background-image: url(img/summit202020.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
}

.gradPhoto::before,
.gradPhotoes::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f03b27a2;
  z-index: -1;
}

.gradPhotoes {
  background-image: url(img/summit\ 2015.webp);
}

.partnertxt {
  font-weight: 500;
  color: white;
}

.ende {
  margin-left: 50px;
}

.logo-end {
  width: 160px;
}

.footertxt {
  font-weight: 400;
  width: 50%;
  margin-top: 40px;
  color: #000;
  text-align: center;
}

.joyfultxt2 {
  background-color: white;
  border: 2px solid white;
  margin: 40px 40px;
  padding: 20px;
}

.moretxt {
  margin-left: 200px;
}

.abouttxt {
  margin-top: 40px;
  text-align: center;
}

.pastyear {
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}

.pastyeartxt {
  color: white;
}

.partners {
  display: none;
}

.reserved {
  display: none;
}

.card {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    margin-left: 60px;
  }

  .intro {
    margin-left: 80px;
  }

  .nav-banner {
    height: 26px;
    margin-left: -60px;
    background: #3e3e3e;
  }

  .nav-banner ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 190px 0 0;
    gap: 20px;
    color: rgba(255, 255, 255, 0.919);
  }

  .navbar {
    min-height: 70px;
    margin-left: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: white;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-right: 180px;
  }

  .nav-menu li a:hover {
    color: #f07f7e;
  }

  .nav-branding {
    font-size: 2rem;
    margin-left: 60px;
    display: block;
  }

  .nav-link {
    transition: 0.7s ease;
    color: black;
  }

  .nav-link:hover {
    color: dodgerblue;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .partnertxt {
    display: block;
  }

  .companies {
    margin: 0 auto;
  }

  .joyfultxt2 {
    background-color: white;
    border: 2px solid white;
    margin: 40px 180px;
    padding: 20px;
  }

  .join2 {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    color: white;
    align-items: center;
  }

  .block {
    transform: scale(1.1);
  }

  .block:hover {
    transform: scale(1.1);
  }

  .gradPhoto,
  .gradPhotoes {
    width: 400px;
  }

  /*
  .main-speakers {
    display: grid;
    align-content: center;
    width: 60%;
  } */

  .card {
    border-radius: 0;
    z-index: -1;
  }

  .row img {
    width: 120px;
  }

  .reserved {
    background-color: white;
    color: black;
    align-items: center;
  }

  .reserved2 {
    background-color: black;
    color: white;
    align-items: center;
  }

  .footertxt {
    color: black;
  }

  .footertxt2 {
    color: white;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .nav-banner {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: grey;
    width: 100%;
    height: 100vh;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
